watch_file wrappers/**/*
watch_file wrappers/**/**/*
watch_file hosts/radio/packages.nix
watch_file hosts/radio/core/*
watch_file hosts/radio/config/gitUserSettings.nix
watch_file lib/adios.nix

use flake .#radio
# use flake .#default
